.bodyAdmin{
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 24px;
    width: 400px;
    border-radius: 10px;
    background-color: grey;
}
.bodyAdmin > input{
    padding: 16px 8px;
    border-radius: 8px;
    border: none !important;
}
.btns{
    display: flex;
    width: 100%;
}

.btns > button{
    display: flex;
    width: 100%;
    padding: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(149, 245, 6);
    color: #fff;
    font-weight: 700;
}

.btns > button:hover{
    background-color: rgb(110, 182, 2);

}