/*INICIO TABLE CSS*/
.layoutTable{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 32px;
    width: 100%;
    height: 700px;
}
.thead{
    display: flex;
    padding: 8px;
    align-items: center;
    align-self: stretch;
    border-radius: 4.472px 4.472px 0px 0px;
}
tbody{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.tbody{
    display: flex;
    padding: 12px 8px;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #E6F1F2;
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.tbody:hover{
    opacity: .8;
}
.thead > td{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: var(--basic-01, #000);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tbody > td{
    color: var(--cinza-06, #393939);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}
table{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
    padding: 0 8px 0 0;
}
.linhaFlex{
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}
.btnGerarPlanilha{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--basic-04, #FFF);
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    color: var(--cinza-06, #393939);
    text-align: center;
    /* Heading 4 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
    height: 34px;
    border: 0px;
    width: 10%;
}
.btnGerarPlanilha:hover{
    opacity: .8;
}
.btnCadastrar{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #375D7A;
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    color: var(--basic-02, #FFF);
    text-align: center;
    /* Heading 4 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
    height: 34px;
    border: 0px;
    width: 12%;
}
.btnCadastrar:hover{
    opacity: .8;
}
.btnLimpar{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #fff;
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    color: var(--basic-02, #FFF);
    text-align: center;
    /* Heading 4 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.408px;
    height: 34px;
    border: 0px;
    /*width: 12%;*/
}
.tituloTable{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*FIM TABLE CSS*/