.containerMenu{
    display: flex;
    padding: 16px;
    background-color: var(--primary);
    height: 52px;
    gap: 8px;
    align-items: center;
    color: var(--textSecundary)
}
.navMenu {
    position: absolute;
    right:0;
    display:flex;
    justify-content: space-between;
    padding:16px;
    margin-right:16px;
}
.navMenu a {
    margin-right: 16px;
    text-decoration: none !important;
    color: var(--textSecundary)
}