.card_profissoes{
    display: flex;
    gap: 8px;
    width: 100%;
}

.card_conteudo_pro{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30%;
    min-width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.10);
    background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .card_profissoes{
        flex-wrap: wrap;
    }
    .card_conteudo_pro{
        width: 100%;
    }
}
/* .sub_titulo{
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.card_profissoes > span{
    font-weight: 700;
} */