.container_profissao{
    display: flex;
    padding: 80px 140px 80px 140px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch; 
    background: #F0F4F7; 
    height: 100vh;
}

.titulo_profissao{
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.container_conteudo_profissoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;    
}

.sub_titulo_visao{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

ul{
    padding: 8px 16px;
}

.container_conhecimentos{
    display: flex;
    min-height: 250px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
}
