/* .flex{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 580px;
  padding: 32px;
  gap: 32px;
} */