* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    /* display: flex;
    flex-direction: column;
    background-color: dimgray;
    color: #FFFFFF; */
    user-select: none; /* Evitar seleção de texto por padrão */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
  }
  
  /* SCROLL /
  / Firefox */
  *{
    scrollbar-width: thin;
    scrollbar-color: #293665 #e0e0e0;
    }
    
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 9px;
    }
    
    *::-webkit-scrollbar-track {
      background: #e0e0e0;
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: #293665;
      border-radius: 10px;
      border: 1px solid #e0e0e0;
    }
