.hero_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 630px;
    flex-shrink: 0;
    background-image: url(./hero_img.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.containerIMG{
    width: 40%;
    height: 430px;
    right: 0px;
    background-image: url(./hero-secion-img.png);
    /* min-height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width: 930px) {
    .containerIMG {
      display: none;
    }
  }
.hero_container{
    display: flex;
    padding: 40px 60px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    /* position: absolute; */
}

.hero_conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.box_conteudo{
    display: flex;
    max-width: 968px;
    min-width: 60%;
    padding: 40px 80px;
    flex-direction: column;
    position: absolute;
    top: 500px;
    gap: 24px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.050000190734863px);
    /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(24.100000381469727px);  */
    margin:0 40px;
}

.conteudo_titulo{
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.conteudo_titulo > span{
    color: #004FAC;
}

.opcoes_busca{
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding: 16px 0px;
}

.input_hero{
    display: flex;
    padding: 16px 8px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    background: #FFF;
    width: 97.5%;
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.resultado_pesquisa{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    border-radius: 0px 0px 8px 8px ;
    background-color: rgb(194, 194, 194);
}

.resultado_pesquisa >span{
    padding: 8px;
}

.resultado_pesquisa > span:hover{
    cursor: pointer;   
    background-color: #d3d3d3;
}

.opcoes_busca > a:hover{
    cursor: pointer !important;
    /* color: rgb(64, 139, 74); */
}