.hero_section{
    display: flex;
    height: 430px;
    padding: 80px 650px 80px 140px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    /* display: flex;
    height: 100%;
    max-height: 500px; */
    /* padding: 80px 140px; */
    /* align-items: center;
    gap: 40px;
    align-self: stretch;*/
    background: #F0F4F7; 
}

.containerIMG{
    width: 631px;
    height: 473.101px;
    position: absolute;
    right: 0px;

    /* top: -22px; */
}

.img_hero{
    /* transform: rotateY(180deg); */
    width: 100%;
    /* min-height: 430px;
    max-height: 500px; */
}

.hero_container{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.53);
    background: rgba(23, 55, 125, 0.20);
    backdrop-filter: blur(20.100000381469727px);
}

.hero_conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.conteudo_titulo{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.opcoes_busca{
    display: flex;
    gap: 16px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0px;
}

.input_hero{
    display: flex;
    padding: 16px 8px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    background: #FFF;
    width: 350px;
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.resultado_pesquisa{
    display: flex;
    flex-direction: column;
    /* padding: 8px; */
    gap: 4px;
    font-size: 14px;
    border-radius: 0px 0px 8px 8px ;
    background-color: rgb(194, 194, 194);
    /* position: absolute;
    width: 100px; */
}

.resultado_pesquisa >span{
    padding: 8px;
}

.resultado_pesquisa > span:hover{
    cursor: pointer;   
    background-color: #d3d3d3;
}

.opcoes_busca > a:hover{
    color: rgb(64, 139, 74);
}