.hero_section{
    display: flex;
    height: 430px;
    padding: 80px 140px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: #F0F4F7;
}

.img_hero{

}

.hero_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 430px; */
    padding: 40px 0px;
    gap: 40px;
    align-self: stretch;
}

.hero_conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.conteudo_titulo{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.opcoes_busca{
    display: flex;
    gap: 16px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0px;
}

.input_hero{
    display: flex;
    padding: 16px 8px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    background: #FFF;
    width: 100%;
    /* Button01 */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}