.app-container {
    display: flex;
  }
  
  .menu-container {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .menu-option {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #555;
  }
  
  .menu-option:hover {
    background-color: #555;
  }
  
  .menu-option.selected {
    background-color: #555;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 500px;
    padding: 60px;
  }




  /* FORM */


  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 400px; Ajuste conforme necessário */
    margin: 0 auto; /* Centralizar o formulário */
    border-radius: 8px;
    background: var(--Basic-02, #FFF);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    padding:20px 32px;

  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .tituloCadastro{
    display: flex;
    padding: 16px;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
  }

  label {
    margin-bottom: 5px;
  }
  
  .inputDados{
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
  }
  
  textarea{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5px;
  }

  .inputImg{
    border: none !important;
    padding: 5px 0px !important;
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 16px;
  }

  .btn{
    width: 120px;
    padding: 8px;
    cursor: pointer;
  }